.prompt {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  position: relative;
}

.input {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  &:focus + .text::after {
    content: "|";
  }
}

.text {
  text-transform: uppercase;

  &::after {
    background-color: var(--background);
    color: var(--foreground);
    animation: blink 1s steps(5, start) infinite;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
