@import "../../assets/sass/fonts";
@import "../../assets/sass/colors";

html,
body {
  font-family: $font-family;
  font-size: $fontsize;
  line-height: $lineheight;
  color: var(--foreground);

  user-select: none;
  text-shadow: var(--foreground-glow);

  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background: var(--background);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  height: 100%;
}

.phosphor {
  padding: $lineheight;
}

.alert {
  color: var(--alert);
  text-shadow: var(--alert-glow);

  & > span.cursor {
    color: var(--alert);
    background-color: rgb(from var(--alert) r g b / 75%);
  }
}
